.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
}
.pricing-plan{
    background-color: rgb(225, 225, 223);
    text-align: center;
    flex: 1;
    max-width: 400px;
    border-radius: 5px;
}
.plan-title{
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
    padding: 8px;
}
.plan-price{
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px;
    padding: 4px;
}
.plan-features{
    font-size: medium;
    font-weight: normal;
    margin: 10px;
    padding: 5px;
}
.plan-button{
    background-color: coral;
    border-radius: 3px;
    
}
@media(max-width:700px){
    .pricing-container{
        flex-direction:column;
        height: 100%;
    }
}
.h3{
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    margin-left: 200px;
}
.body{
    align-items: center;
    text-align: center;
}